<div class="row" ng-controller="compteur">
  <div class="col-sm-12" style='text-align:justify'>
    <h1>À propos</h1>
    <p>Cette application (<i>libmeeting</i>) a été développée par <a href='http://www.sylvainmachefert.com'>Sylvain Machefert</a> en avril 2014, en s'inspirant de l'outil <a href='http://ecyrd.com/timeismoney/'>Time is money</a> proposé par Janne Jalkanen.</p>

    <p>Cette application a été développée dans le but de s'initier à <a href='https://angularjs.org/'>AngularJS</a>, un framework Javascript permettant d'automatiser les opérations d'interaction au niveau du navigateur. L'application a été générée et développée à l'aide de la suite logicielle <a href='http://yeoman.io/'>Yeoman</a> qui rassemble différents outils faciliant le développement d'applications web (tests automatisés, déploiement simplifié ...)</p>
    <p>Le code source du logiciel est disponible sur <a href='https://github.com/symac/libmeeting'>github.com/symac/libmeeting</a> et est librement réutilisable.</p>

    <p>
    Les coûts utilisés pour l'évaluation ont été fournis par le service Q/R de l'ENSSIB et sont les suivants : 
    <ul>
      <li>Catégorie A : {{catsInfos.A.price}} €</li>
      <li>Catégorie B : {{catsInfos.B.price}} €</li>
      <li>Catégorie C : {{catsInfos.C.price}} €</li>
    </ul>
    </p>
  </div>
</div>
