<div class="header">
  <h3 class="text-muted">Réunion de bibliothécaires</h3>
</div>

<div ng-controller="compteur">
  <timer id='myTimer' style='display:none' autostart="false" interval="1000">{{hhours}}h {{mminutes}}m {{sseconds}}s</timer>
  <div class="row">
    <div class='col-sm-4 text-center'><a ng-init="countA = 0" ng-click="addUser('A')" class='btn btn-default btn-primary'><i class='fa fa-user'></i> Catégorie A</a></div>
    <div class='col-sm-4 text-center'><a ng-init="countB = 0"  ng-click="addUser('B')" class='btn btn-default btn-success'><i class='fa fa-user'></i> Catégorie B</a></div>
    <div class='col-sm-4 text-center'><a ng-init="countC = 0" ng-click="addUser('C')" class='btn btn-default btn-warning'><i class='fa fa-user'></i> Catégorie C</a></div>
  </div>
  <div class="row">
    <!-- Rappel des participants à la réunion -->
    <div class='col-sm-12'>
      <div class="panel panel-default crewList">
        <div class="panel-heading">Participants</div>
        
        <!-- Aucun participant pour le moment -->
        <div class="panel-body" ng-if="users.length == 0" style='font-weight:bold'>
          Ajoutez des participants à votre réunion en cliquant sur les boutons ci-dessus.
        </div>
        <!-- Participants déjà définis : -->
        <div class="panel-body" ng-if="users.length > 0">
          <div ng-repeat="u in users">
            <i class="fa fa-user fa-4x " style='float:left; color:{{u.color}}'></i>
          </div>
          <div style='clear:both'>
            {{stats.A}} personnel(s) de catégorie A, {{stats.B}} personnel(s) de catégorie B et {{stats.C}} personnel(s) de catégorie C.
          </div>  
        </div>
      </div>
    </div>
  </div>
  
  <div class="text-center" style='padding:10px'>
    <button ng-click="startTimer()" ng-disabled="timerRunning && !timerPause" class="btn btn-danger">C'est parti !</button>
    <button ng-click="pauseTimer()" ng-disabled="timerPause" class="btn btn-default">Pause</button>
  </div>
  <div id='summary'>
    Cette réunion, commencée il y a <span id='meetingDuration'></span> a coûté <span id='meetingCost'></span>.
  </div>
 
</div>
    

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
